.container {
  max-width: $website-width;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

.text-primary {
  color: $main-color !important;
}

//Padding
.py {
  &-1 {
    padding: 1rem 0 !important;
  }
  &-2 {
    padding: 2rem 0 !important;
  }
  &-3 {
    padding: 3rem 0 !important;
  }
  &-4 {
    padding: 4rem 0 !important;
  }
  &-5 {
    padding: 5rem 0 !important;
  }
}

//Margin
.my {
  &-1 {
    margin: 1rem 0 !important;
  }
  &-2 {
    margin: 2rem 0 !important;
  }
  &-3 {
    margin: 3rem 0 !important;
  }
  &-4 {
    margin: 4rem 0 !important;
  }
}

//Buttons
%btn-shared {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none !important;
  box-shadow: none;
  font-style: normal;
  font-weight: normal;
  border: 0;
  text-align: center;
  letter-spacing: 0.01em;
}

.btn {
  &-contact {
    @extend %btn-shared;
    color: #fff;
    background-color: #227eff;
    font-size: 12px;
    line-height: 15px;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  box-shadow: none;
  outline: none;
  z-index: 0;
}

button[class^='btn-']:focus,
a[class^='btn-']:focus,
input[class^='btn-']:focus {
  box-shadow: none;
  outline: none;
}

/* Search Form */
.email-form {
  display: inline-block;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  line-height: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
  .form-sub {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 0.8rem;
    color: #555;
    background-color: #edf2f7;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1rem;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    i {
      color: #2e4457;
    }
  }
}

.relative {
  position: relative;
}
